aside {
    background-color: lightgray;
    float: left;
    padding: 20px 150px 14px 15px ;

    h2 {
        margin-bottom: 1rem;
    }
    ul {
        padding-left: 45px;
    }
    a {
        text-decoration: none;
    }
}