* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    }
    .main {
    background-color: #B0CCAB;
    padding: 100px;
    
    
    }
    .main__paragraph {
        
        position: fixed;
        left: 15%;
        
    
}

p:first-child  {
    position: absolute;
    top: 5%;
}